// =============================================================================
// GRID (CSS)
// =============================================================================

.container {
    position: relative;
    width: 100%;
    max-width: 1500px;
    padding: 0 15px;
    margin-inline: auto;

    &.container--full {
        max-width: 100%;
    }
}
