// Setup Default
.text {
    &-center {
        text-align: center;

        &-tablet {
            @include smax-m {
                text-align: center;
            }
        }

        &-mobile {
            @include smax-s {
                text-align: center;
            }
        }

    }
    
    &-left {
        text-align: left;

        &-tablet {
            @include smax-m {
                text-align: left;
            }
        }

        &-mobile {
            @include smax-s {
                text-align: left;
            }
        }
    }

    &-right {
        text-align: right;

        &-tablet {
            @include smax-m {
                text-align: right;
            }
        }

        &-mobile {
            @include smax-s {
                text-align: right;
            }
        }
    }

    &-white {
        color: #ffffff !important;
    }

    &-black {
        color: #000000 !important;
    }

    &-clamp {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.fw {
    &-400 {
        font-weight: 400;

        &-tablet {
            @include smax-m {
                font-weight: 400;
            }
        }

        &-mobile {
            @include smax-s {
                font-weight: 400;
            }
        }
    }

    &-500 {
        font-weight: 500;

        &-tablet {
            @include smax-m {
                font-weight: 500;
            }
        }

        &-mobile {
            @include smax-s {
                font-weight: 500;
            }
        }
    }

    &-600 {
        font-weight: 600;

        &-tablet {
            @include smax-m {
                font-weight: 600;
            }
        }

        &-mobile {
            @include smax-s {
                font-weight: 600;
            }
        }
    }

    &-700 {
        font-weight: 700;

        &-tablet {
            @include smax-m {
                font-weight: 700;
            }
        }

        &-mobile {
            @include smax-s {
                font-weight: 700;
            }
        }
    }

    &-900 {
        font-weight: 900;

        &-tablet {
            @include smax-m {
                font-weight: 900;
            }
        }

        &-mobile {
            @include smax-s {
                font-weight: 900;
            }
        }
    }
}


.flex {
    display:flex;

    &-center {
        display:flex;
        align-items:center;
        justify-content:center;
    }

    &-center-inline {
        display:inline-flex !important;
        align-items:center;
        justify-content:center;
    }

    &-between {
        display:flex;
        justify-content:space-between;
    }

    &-between-center {
        display:flex;
        align-items: center;
        justify-content:space-between;
    }

    &-col {
        display:flex;
        flex-direction:column;
    }

    &-center-col {
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
    }

    &-reverse {
        display:flex;
        flex-direction:row-reverse;
    }

    &-center-y {
        display:flex;
        align-items:center;
    }

    &-wrap {
        flex-wrap: wrap;

        &-tablet {
            @include smax-m {
                flex-wrap: wrap;
            }
        }

        &-mobile {
            @include smax-s {
                flex-wrap: wrap;
            }
        }
    }
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.no-underline {
    text-decoration: none;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mr-0 {
    margin-right: 0;
}

.ml-0 {
    margin-left: 0;
}
.p-0 {
    padding: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}

@include smax-m {
    .p-0-tablet {
        padding: 0;
    }

    .m-0-tablet {
        margin: 0;
    }

    .mt-0-tablet {
        margin-top: 0;
    }

    .mb-0-tablet {
        margin-bottom: 0;
    }

    .mr-0-tablet {
        margin-right: 0;
    }

    .ml-0-tablet {
        margin-left: 0;
    }

    .pt-0-tablet {
        padding-top: 0;
    }

    .pb-0-tablet {
        padding-bottom: 0;
    }

    .pr-0-tablet {
        padding-right: 0;
    }

    .pl-0-tablet {
        padding-left: 0;
    }
}

@include smax-s {
    .p-0-mobile {
        padding: 0;
    }

    .m-0-mobile {
        margin: 0;
    }

    .mt-0-mobile {
        margin-top: 0;
    }

    .mb-0-mobile {
        margin-bottom: 0;
    }

    .mr-0-mobile {
        margin-right: 0;
    }

    .ml-0-mobile {
        margin-left: 0;
    }

    .pt-0-mobile {
        padding-top: 0;
    }

    .pb-0-mobile {
        padding-bottom: 0;
    }

    .pr-0-mobile {
        padding-right: 0;
    }

    .pl-0-mobile {
        padding-left: 0;
    }
}


.bg-blue {
    background-color: #003A63 !important;
}

.color-black {
    color: #000000 !important;
}

.color-white {
    color: #ffffff !important;
}

.static {
    position: static;
}

.relative {
    position: relative;
}

.custom-section {
    padding: 30px 0;
}

.custom-heading {
    color: stencilColor("section_title_color");
    font-weight: 600;
    font-size: 24px;
    // line-height: 36px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.custom-desc {
    color: stencilColor("section_subtitle_color");
    font-size: $fontSize-root;
    // line-height: 21px;
    line-height: 1.3;
    letter-spacing: 0;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.custom-heading-page {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: center;
    font-weight: $fontWeight-bold;
    text-transform: uppercase;
    color: $color-custom-red;
    margin: 0;

    @include smax-m {
        font-size: 30px;
        line-height: 1.5 !important;
    }

    @include smax-s {
        font-size: 25px;
    }

    &.white {
        color: #ffffff;
    }

    &.blue {
        color: $color-custom-blue;
    }
}

.custom-desc-page {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0;
    color: $color-custom-black;
    margin-bottom: 0;

    @include smax-m {
        font-size: 18px;
        line-height: 1.3 !important;
    }

    @include smax-s {
        font-size: 16px;
    }

    &.white {
        color: #ffffff;
    }

    &.blue {
        color: $color-custom-blue;
    }
}

.custom-category-heading {
    font-size: 35px;
    letter-spacing: 0.025em;
    font-weight: 900;
    margin-top: 0;
    color: #3a8dde;
    font-size: clamp(24px, 1.8vw, 35px);
}

.hide-on {
    &-all {
        display: none !important;
    }
    
    &-tablet {
        @include smax-m {
            display: none !important;
        }
    }

    &-desktop {
        @include smin-m {
            display: none !important;
        }
    }

    &-mobile {
        @include smax-s {
            display: none !important;
        }
    }
}
