//
// Quick Shop Popup
// -----------------------------------------------------------------------------
.custom-quickShop {
    display: block;
    font-size: 0;
    letter-spacing: 0;
    padding: 0 2.25rem;

    .custom-productView-left,
    .custom-productView-right {
        width: 100%;
        display: block;
        margin-bottom: 0;
    }

    .custom-productView-left {
        display: none;
    }

    .productView-image-wrapper {
        img[role='presentation'] {
            display: none !important;
        }
    }

    .productView-details {
        width: 100%;
    }

    .productView-product {
        margin-top: 5px;
    }

    .productView-brand {
        margin-bottom: 0;
    }

    .productView-title {
        font-size: $fontSize-root;
        line-height: 1.625;
        font-weight: 700;
        overflow: hidden;
        display: -webkit-box;
        margin-bottom: 15px !important;
    }

    .productView-topInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 5px 0 0 0;
    }

    .productView-rating {
        width: auto;
    }

    .productView-ratingCount {
        font-size: $fontSize-root - 2px;
        font-weight: $fontWeight-normal;
        color: $color-textSecondary;
        line-height: 1;
        margin: 0 0 0 7px;
    }

    .productView-price {
        margin-top: 8px;
        margin-bottom: 0;

        .price-section {
            font-size: $fontSize-root + 2px;
            font-weight: $fontWeight-normal;
        }
    }

    @media (min-width: 551px) {
        .custom-productView-left,
        .custom-productView-right {
            display: inline-block;
            vertical-align: top;
        }

        .custom-productView-left {
            width: 100px;
        }

        .custom-productView-right {
            width: calc(100% - 100px);
            padding: 0 0 0 30px;
        }

        .productView-image-wrapper {
            display: block;
        }
    }
}

// Header Sticky
// -----------------------------------------------------------------------------
.header {
    &.is-sticky {
        position: sticky;
        top: 0;
        z-index: 99;
        width: 100%;
        padding: 0;
        animation-duration: 0.25s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
}

//
// View More Products
//---------------------------------------------------------------------------- 
#listing-showmoreBtn {
    text-align: center;
    margin-bottom: 50px;

    .button {
        min-width: 146px;
        height: 38px;
        line-height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;

        svg {
            fill: #ffffff;
            width: 0;
            height: 18px;
            position: relative;
            z-index: 1;
        }

        &:hover,
        &:focus,
        &:active {
            svg {
                fill: #ffffff;
            }
        }

        &.loadding {
            &:hover {
                background-color: $buttonStyle-primary-backgroundColor;

                &::after {
                    background-color: $buttonStyle-primary-backgroundColor;
                }
            }
            
            .text {
                font-size: 0;
            }

            .icon {
                width: 18px;
                -webkit-animation: rotate_180 1s infinite linear;
                -moz-animation: rotate_180 1s infinite linear;
                -ms-animation: rotate_180 1s infinite linear;
                -o-animation: rotate_180 1s infinite linear;
                animation: rotate_180 1s infinite linear;
            }
        }
    }

    .disable {
        pointer-events: none;
    }
}

//
// Product Listing sidebar
//---------------------------------------------------------------------------- 
.page-sidebar-mobile-wrapper {
    display: block;
    position: relative;
    margin: 0 0 30px 0;

    @include smax-m {
        position: absolute;
    }; 

    .page-sidebar-mobile {
        position: relative;
        display: inline-block;
        z-index: 2;
        cursor: pointer;
        pointer-events: auto;

        .text {
            display: none;
            vertical-align: middle;
            font-size: $fontSize-root - 2px;
            font-weight: $fontWeight-bold;
            letter-spacing: $letterSpacing-base;
            margin: 0;
            padding: 0;
            line-height: 1;
            color: $color-textBase;
            text-transform: uppercase;

            .page-blog & {
                display: inline-block;
                margin-right: 10px;
            }
        }

        .icon {
            display: inline-block;
            vertical-align: middle;
            width: 46px;
            height: 46px;
            padding: 14px;
            fill: $color-textBase;
            stroke: transparent;
            pointer-events: none;
            background: #e5e5e5;
        }
    }

    @media (min-width: 992px) {
        .page-sidebar-mobile {
            .text {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }

    @media (min-width: 1025px) {
        display: none;
        margin-bottom: 0;
    }
}

//
// Account Popup
//---------------------------------------------------------------------------- 
.custom-auth-popup {
    width: 100%;
    z-index: 999;
    padding: 0;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    display: none;

    @media (min-width: 1025px) {
        position: absolute;
        left: unset;
        top: calc(100% + 17px);
        right: 0;
        width: 320px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;

        &:before {
            content: ' ';
            position: absolute;
            border-left: solid transparent 10px;
            border-right: solid transparent 10px;
            border-bottom: solid #fff 10px;
            top: -10px;
            left: unset;
            right: 20px;
            height: 0;
            z-index: 6;
        }

        &.is-open {
            display: block;
        }
    }

    @media (min-width: 1600px) {
        left: unset;
        right: 0;
        transform: unset;

        &:before {
            left: unset;
            right: 20px;
            transform: unset;
        }
    }
}

.login-form-popup {
    .custom-popup-content {
        padding: 20px;
    }

    .form {
        margin: 0;
        position: relative;
        top: -2px;

        .form-label {
            font-size: $fontSize-root - 2px;
            font-weight: $fontWeight-medium;
            line-height: 25px;
            color: $header-font-color;

            em {
                display: none;
            }
        }

        .form-field {
            margin: 0;

            + .form-field {
                margin-top: 15px;
            }
        }

        .form-input {
            margin-bottom: 0;
            height: 46px;
            &::placeholder {
                font-size: 14px;
            }
        }

        .form-actions {
            width: 100%;
            max-width: 100%;
            margin: 15px 0 0 0;
            text-align: center;
        }

        .button {
            width: 100%;
            margin: 0;
        }

        .forgot-password {
            font-size: $fontSize-root - 2px;
            font-weight: $fontWeight-normal;
            font-style: italic;
            line-height: 25px;
            color: $header-font-color;
            margin: 9px 0 19px 0;
            transition: unset;
        }
    }

    &.is-loading {
        z-index: zIndex('low');

        &:after {
            content: '';
            background-color: rgba(
                stencilColor('loadingOverlay-backgroundColor'),
                0.9
            );
            background-image: url(../img/loading.svg);
            background-size: 50px;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 0;
            right: 0;
            border: 0;
            border-radius: 0;
            display: block;
            margin: 0 auto;
            transform: translateY(-50%) rotate(0);
            transform-style: preserve-3d;
            animation: unset;
            z-index: zIndex('low');
        }
    }

    @media (min-width: 1025px) {
        .custom-popup-content {
            padding: 25px;
        }

        .form {
            .form-field {
                + .form-field {
                    margin-top: 19px;
                }
            }
        }
    }
}

.account-popup {
    .account-dropdown {
        list-style: none;
        margin: 0;

        .is-login & {
            .account-item {
                @include smax-m {
                    padding-left: 20px;
                }
            }
        }

        .account-item {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 100%;
            border-bottom: 1px solid #eeeef1;
            padding: 12px 15px;
        }

        .account-action {
            width: 100%;
            color: $color-custom-black;
            font-size: $fontSize-root - 2px;
            font-weight: $fontWeight-normal;
            padding: 0;
            margin: 0;
            text-transform: capitalize;
            transition: $anchor-transition;
            text-decoration: none;
        }

        .text {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
            transition: $anchor-transition;
            padding: 12px 20px 10px;
        }

        .account-item:hover {
            .text {
                color: red;
            }
        }
    }

    @include smin-m {
        .custom-popup-content {
            padding: 0 20px;
        }

        .account-dropdown {
            .account-item {
                &:last-child {
                    border-bottom: 0;
                }

                &:hover {
                    .text {
                        color: stencilColor('navPages-color-hover');
                        background-image: linear-gradient(
                            transparent 97%,
                            stencilColor('navPages-color-hover') 3%
                        );
                        background-repeat: no-repeat;
                        background-position-y: 0;
                    }
                }
            }

            .text {
                display: inherit;
                padding: 0;
            }
        }
    }
}